Flask~=1.1.1
mysql-connector-python~=8.0.25
SQLAlchemy~=1.4.15
scapy~=2.4.5
flask_bootstrap~=3.3.7.0
pyotp~=2.6.0
flask-mysql
ZODB~=5.6.0
mysql~=0.0.3
persistent~=4.7.0
SharePlum~=0.5.1
transaction~=3.0.1